# Mac Standard Profile - Base Modmap
# Modifier remappings for macOS-style keyboard experience

[general]
suspend_key = "F11"

[timeouts]
multipurpose = 200
suspend = 1000

[modmap.default]
CAPSLOCK = "CAPSLOCK"

[[modmap.conditionals]]
name = "gui_ibm"
condition = "keyboard_type =~ 'IBM' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { CAPSLOCK = "LEFT_META", LEFT_CTRL = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "gui_mac"
condition = "keyboard_type =~ 'Mac' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { LEFT_CTRL = "LEFT_META", LEFT_META = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "terminals_ibm"
condition = "keyboard_type =~ 'IBM' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { CAPSLOCK = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL", RIGHT_CTRL = "RIGHT_ALT" }

[[modmap.conditionals]]
name = "terminals_mac"
condition = "keyboard_type =~ 'Mac' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { LEFT_CTRL = "LEFT_CTRL", LEFT_ALT = "LEFT_ALT", LEFT_META = "RIGHT_CTRL", RIGHT_ALT = "RIGHT_ALT", RIGHT_META = "RIGHT_CTRL" }
