# Production Non-Unicode Consolidated Config
#
# Consolidated from validated migration batches:
# - phase7 nonunicode + batch2
# - phase8 macro combined
# - phase8 iEF2 combined
# - phase9 batch3
#
# Excludes:
# - deadkey/unicode-special mappings
# - harness/test-only mappings

[general]
suspend_key = "F11"

[timeouts]
multipurpose = 200
suspend = 1000

[[multipurpose]]
name = "prod_multipurpose_enter2cmd"
trigger = "ENTER"
tap = "ENTER"
hold = "RIGHT_CTRL"
condition = "settings.Enter2Ent_Cmd"

[[multipurpose]]
name = "prod_multipurpose_caps2esc_not_chromebook"
trigger = "CAPSLOCK"
tap = "ESCAPE"
hold = "RIGHT_CTRL"
condition = "settings.Caps2Esc_Cmd and not (keyboard_type =~ 'Chromebook')"

[[multipurpose]]
name = "prod_multipurpose_caps2esc_chromebook"
trigger = "LEFT_META"
tap = "ESCAPE"
hold = "RIGHT_CTRL"
condition = "settings.Caps2Esc_Cmd and (keyboard_type =~ 'Chromebook')"

[modmap.default]
CAPSLOCK = "CAPSLOCK"

[[modmap.conditionals]]
name = "forced_numpad"
condition = 'settings.forced_numpad'
mappings = { KP1 = "KEY_1", KP2 = "KEY_2", KP3 = "KEY_3", KP4 = "KEY_4", KP5 = "KEY_5", KP6 = "KEY_6", KP7 = "KEY_7", KP8 = "KEY_8", KP9 = "KEY_9", KP0 = "KEY_0", KPDOT = "DOT", KPENTER = "ENTER" }

[[modmap.conditionals]]
name = "media_arrows_fix"
condition = "settings.media_arrows_fix"
mappings = { PLAYPAUSE = "PAGE_UP", STOPCD = "PAGE_DOWN", PREVIOUSSONG = "HOME", NEXTSONG = "END" }

[[modmap.conditionals]]
name = "gtk3_numpad_nav_fix"
condition = "not settings.forced_numpad and not numlk and not (devn =~ 'Razer Razer Naga X')"
mappings = { KP9 = "PAGE_UP", KP3 = "PAGE_DOWN", KP7 = "HOME", KP1 = "END", KP8 = "UP", KP2 = "DOWN", KP4 = "LEFT", KP6 = "RIGHT", KP0 = "INSERT", KPDOT = "DELETE", KPENTER = "ENTER" }

[[modmap.conditionals]]
name = "prod_modmap_synergy_fix_empty_class_and_name"
condition = "wm_class == '' and wm_name == ''"
mappings = {}

[[modmap.conditionals]]
name = "prod_modmap_synergy_fix_empty_class_synergy_name"
condition = "wm_class == '' and wm_name == 'SYNERGY_WM_NAME'"
mappings = {}

[[modmap.conditionals]]
name = "prod_modmap_synergy_fix_empty_class_not_gnome_shell"
condition = "wm_class == '' and not (wm_name == 'gnome-shell')"
mappings = {}

[[modmap.conditionals]]
name = "prod_modmap_gui_caps2cmd_not_chromebook"
condition = "settings.Caps2Cmd and not (keyboard_type =~ 'Chromebook') and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { CAPSLOCK = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_gui_caps2cmd_chromebook"
condition = "settings.Caps2Cmd and (keyboard_type =~ 'Chromebook') and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { LEFT_META = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_gui_ibm_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'IBM' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { RIGHT_ALT = "RIGHT_CTRL", RIGHT_CTRL = "RIGHT_ALT" }

[[modmap.conditionals]]
name = "prod_modmap_gui_ibm"
condition = "keyboard_type =~ 'IBM' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { CAPSLOCK = "LEFT_META", LEFT_CTRL = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_gui_chromebook_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'Chromebook' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { RIGHT_ALT = "RIGHT_CTRL", RIGHT_CTRL = "RIGHT_ALT" }

[[modmap.conditionals]]
name = "prod_modmap_gui_chromebook"
condition = "keyboard_type =~ 'Chromebook' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { LEFT_CTRL = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_gui_windows_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'Windows' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { RIGHT_ALT = "RIGHT_CTRL", RIGHT_META = "RIGHT_ALT", RIGHT_CTRL = "RIGHT_META" }

[[modmap.conditionals]]
name = "prod_modmap_gui_windows"
condition = "keyboard_type =~ 'Windows' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { LEFT_CTRL = "LEFT_META", LEFT_META = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_gui_mac_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'Mac' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { RIGHT_META = "RIGHT_CTRL", RIGHT_CTRL = "RIGHT_META" }

[[modmap.conditionals]]
name = "prod_modmap_gui_mac"
condition = "keyboard_type =~ 'Mac' and not (wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal|anydesk|gnome-boxes|gnome-connections|org.gnome.boxes|org.remmina.remmina|nxplayer.bin|remmina|qemu-system-.*|qemu|spicy|virt-manager|virtualbox|virtualbox machine|xfreerdp|wfica')"
mappings = { LEFT_CTRL = "LEFT_META", LEFT_META = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_terms_ibm_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'IBM' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { RIGHT_ALT = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_terms_ibm"
condition = "keyboard_type =~ 'IBM' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { CAPSLOCK = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL", RIGHT_CTRL = "RIGHT_ALT" }

[[modmap.conditionals]]
name = "prod_modmap_terms_chromebook_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'Chromebook' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { RIGHT_ALT = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_terms_chromebook"
condition = "keyboard_type =~ 'Chromebook' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { LEFT_META = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL", RIGHT_CTRL = "RIGHT_ALT" }

[[modmap.conditionals]]
name = "prod_modmap_terms_windows_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'Windows' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { RIGHT_ALT = "RIGHT_CTRL", RIGHT_META = "RIGHT_ALT", RIGHT_CTRL = "LEFT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_terms_windows"
condition = "keyboard_type =~ 'Windows' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { LEFT_CTRL = "LEFT_CTRL", LEFT_META = "LEFT_ALT", LEFT_ALT = "RIGHT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_terms_mac_multi_lang_off"
condition = "not settings.multi_lang and keyboard_type =~ 'Mac' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { LEFT_META = "RIGHT_CTRL", RIGHT_META = "RIGHT_CTRL", RIGHT_CTRL = "LEFT_CTRL" }

[[modmap.conditionals]]
name = "prod_modmap_terms_mac"
condition = "keyboard_type =~ 'Mac' and wm_class =~ '(?i)alacritty|blackbox|contour|cosmicterm|deepin-terminal|ghostty|gnome-terminal|hyper|kgx|kitty|konsole|terminology|wave|wezterm|xfce4-terminal'"
mappings = { LEFT_CTRL = "LEFT_CTRL", LEFT_ALT = "LEFT_ALT", LEFT_META = "RIGHT_CTRL", RIGHT_ALT = "RIGHT_ALT", RIGHT_META = "RIGHT_CTRL" }


